# CONFIG SETTINGS
# any line starting with '#' will be ignored
# settings must maintain spaces before and after the equals sign
# all lines without '#' will be added to argument list
# name of placeholder variable in templates
placeholder_name = VARIABLE 
# location of the disk image to mount
directory_for_dmg = ~/Documents/Scripts/text_dump.dmg
# disk image location. usually doesn't change unless you make a new name for it
directory_for_diskMount = /volumes/dump
# option (TRUE/FALSE) to allow config input from specific files (placed at start of template)
allow_file_settings = TRUE