# CONFIG SETTINGS
# any line starting with '#' will be ignored
# all lines without '#' will be added to variable list
#
# name of placeholder variable in templates
placeholder_name = VARIABLE
# location of the disk image to mount
directory_for_dmg = ~/Documents/Scripts/text_dump.dmg
# disk image location. usually doesn't change unless you make a new name for it
directory_for_diskMount = /volumes/dump